/*------ stile generale della pagina ------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    max-width: 1280px;
    height: 600px;
    background-color: aqua;
    margin: auto;
}

.page::after {
    content: "";
    display: block;
    clear: both;
}

.red {
    background-color: red;
    height: 100px;
    width: 100px;
    float: left;
    margin: 20px 10%;
}